<tr>
    <td><%= @model.name %></td>
    <td><%= @model.total_items %></td>
    <td><%= @model.total_cost %></td>
    <td><%= @model.avg_cost %></td>
    <td><%= catalog_show_link %></td>
    <td><%= catalog_edit_link %></td>
    <td><%= catalog_destroy_link %></td>
</tr>