<tr>
    <td><%= @model.name %></td>
    <td><%= @model.description %></td>
    <td><%= @model.price %></td>
    <td><%= @model.catalog_id %></td>
    <td><%= show_link %></td>
    <td><%= edit_link %></td>
    <td><%= destroy_link %></td>
</tr>