<p>
  <strong>Name:</strong>
  <%= @item.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @item.description %>
</p>

<p>
  <strong>Price:</strong>
  <%= @item.price %>
</p>

<p>
  <strong>Catalog:</strong>
  <%= @item.catalog_id %>
</p>

<%= edit_link %> |
<%= back_to_items %>